* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 40px;
    box-sizing: border-box;
    letter-spacing: normal;
    text-shadow: 1px 0px 0px rgb(1, 3, 5);
}

/*Mi body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    word-spacing: 5px;
    color: rgb(1, 3, 5);
    padding: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(img\ fondo\ gral.jpg); 
}

main {
    width: 100%;
}
.grid-contenedor1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 1em;
}
.columnaizquierda {
    display: grid;
    grid-column: 1/3;
    grid-row: 1;
    margin-left: 10px;
    padding-left: 15px;
}
.columnaderecha {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    padding-left: 15px;
}
.video {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}
iframe {
    width: 450px;
    height: 450px;
    margin-left: 10px;
    margin-top: 10px;
}
.img {
    border-radius: 10px;
}
.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    background-color: rgb(214, 241, 222);
    border: 2px solid rgb(163, 162, 162);
    padding: 1em;
    text-align: left;
}
.encabezado {
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.grid-contenedor div {
    border: 2px solid pink;
}
.texto {
    font-size: 15px;
    display: grid;
    grid-column: 1;
    grid-row: 2;
}
.texto1 {
    font-size: 15px;
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
.texto2 {
    font-size: 20px;
    display: grid;
    grid-column: 3;
    grid-row: 2;
}
.imgseg {
    width: 250px;
    background-position: center;
    position: center;
    margin-left: 100px;
}
.imghig {
    width: 250px;
    height: 250px;
    background-position: center;
    position: center;
    margin-left: 100px;
    margin-bottom: 100px;
}
.imgcontrol {
    width: 250px;
    height: 250px;
    background-position: center;
    position: center;
    margin-left: 100px;
    margin-bottom: 100px;
}

/*Diseño Bootstrap*/
.container {
    display: flex;
    column-gap: 30px;
    margin-left: none;
    margin-bottom: 10px;
}
.cardstitulo {
    text-align: left;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.imgcards {
    width: 300px;
    height: 200px;
    column-gap: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    background-color:rgb(214, 241, 222);
}
.card-img{
    width: 200px;
    height: 200px;
    column-gap: 10px;
}
/*Mi header Index*/
.headerindex {
    flex-direction: column;
    position: relative;
    justify-content: center;
    display: flex;
    float:center ;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}
/*Mi nav index*/
.navindex {
    float: center;
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(110, 195, 110);
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    letter-spacing: 5px;
}
nav a {
    text-decoration: none;
    color: rgb(205, 44, 230);
}
/*Mi footer Index*/
.footerindex {
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}
/*Mi header sobre nosotros*/
.headersobrenotros {
    flex-direction: column;
    position: relative;
    justify-content: center;
    display: flex;
    float:center ;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}

.navsobrenotros {
    float: initial;
    display: block;
    border-radius: 5px;
    padding: 12px;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(110, 195, 110);
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    letter-spacing: 5px;
}
.navsobrenotros a {
    text-decoration: none;
    color: rgb(205, 44, 230);
}
.contenidosobrenotros {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    letter-spacing: 5px;
}
.footersobrenotros {
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}
/*Mi header contacto*/
.headercontacto {
    flex-direction: column;
    position: relative;
    justify-content: center;
    display: flex;
    float:center ;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}
form {
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    margin-left: 20px;
    border-style: solid;
    background-color: rgb(222, 248, 222);
}
.contacto {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: floralwhite;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
}
input {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input,
textarea,
option {
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(246, 248, 248);
}
.card body a{
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 5px;
}
/*Mi footer contacto*/
.footercontacto {
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}

/*Mi nav contacto*/
.navcontacto {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(110, 195, 110);
    text-align: center;
    font-size: 20px;
    letter-spacing: normal;
}
.navcontacto a {
    text-decoration: none;
    color: rgb(205, 44, 230);
}

/*Mi header horarios*/
.headerhorarios {
    flex-direction: column;
    position: relative;
    justify-content: center;
    display: flex;
    float:center ;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}

/*Mi barra de navegación*/
.nav-horarios {
    float: initial;
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(110, 195, 110);
    text-align: center;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 10px;
}

.nav-horarios a {
    text-decoration: none;
    color: rgb(205, 44, 230);
}

.tablehorarios {
    background-color: black;
    color: white;
    font-size: 10px;
}

.footerhorarios {
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}